<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Session\StorageInterface">
        <plugin name="integernet_session_unblocker" type="IntegerNet\SessionUnblocker\Plugin\SessionStoragePlugin" />
    </type>

    <type name="Magento\Customer\Controller\Section\Load">
        <plugin name="integernet_session_unblocker" type="IntegerNet\SessionUnblocker\Plugin\SectionLoadControllerPlugin" />
    </type>

    <type name="IntegerNet\SessionUnblocker\Plugin\SectionLoadControllerPlugin">
        <arguments>
            <argument name="additionalSessions" xsi:type="array">
                <item name="customerSession" xsi:type="object">Magento\Customer\Model\Session</item>
                <item name="messageSession" xsi:type="object">Magento\Framework\Message\Session</item>
                <item name="catalogSession" xsi:type="object">Magento\Catalog\Model\Session</item>
                <item name="reviewSession" xsi:type="object">Magento\Review\Model\Session</item>
            </argument>
        </arguments>
    </type>
</config>